<!-- ROUTER -->
<button routerLink="/course" routerLinkActive="active current">
  go to course
</button>
<!-- dynamic routing using (sending along params) -->
<button [routerLink]="['/course', '1']">go to course id</button>
<button routerLink="/course" [queryParams]="{ page: 1, name: 'saud' }">
  go to course with route params
</button>

<button routerLink="/contactForm" routerLinkActive="active current">
  go to contact Form
</button>

<h3 *ngIf="tokenService.getToken">ROUTER OUTLET START</h3>
<router-outlet *ngIf="tokenService.getToken"></router-outlet>
<h3>ROUTER OUTLET END</h3>

<h1 style="margin-top: 500px">My First Angular app</h1>
<p>Slots Example</p>
<!-- SLOTS -->
<bootrap-panel>
  <div class="headingSlot">this data is placed at heading SLOT</div>
  <div class="bodySlot">
    <!-- <ngContainer> </ngContainer> if u dont want to use any html elemnt -->
    <p>this data is placed at body SLOT</p>
  </div>
</bootrap-panel>
<!-- FAVORITE COMPENENT -->
<favorite
  [is-favorite]="true"
  (eventEmitted)="onFavoriteChange($event)"
></favorite>

<!-- ROUTER END -->
<h1>zippi component</h1>
<zippy title="Shopping Details content">Shopping Details</zippy>
<courses></courses>
<!-- directives concept -->
<!-- two types pf directives 1.Structural Directice (that adds/removes elemnts in DOM) 2.Attribute Directive (that modifies
  the attributes of DOM elemrnt) -->
<!-- Use '*' prefix before structure directive 'ngIf', 'ngFor' -->

<!-- ANGULAR 2 APPROACH -->
<div *ngIf="movies.length > 0">
  <!-- WE CAN trackBy in ngFor to tell Angular that only re render DOM(ul) only when courses content changes -->

  <!--  <li *ngFor="let movie of movies" trackBy: trackCourse>
      {{ movie }}
    </li> -->
  <ul>
    <li *ngFor="let movie of movies">
      {{ movie }}
    </li>
  </ul>
</div>
<div *ngIf="movies.length == 0">
  <p>No movies found</p>
</div>

<!-- ANGULAR 4 APPROACH -->
<div *ngIf="movies.length > 0; then courses; else noCourses">
  <!-- <ul>
    <li *ngFor="let movie of movies">
      {{movie}} angular 4 appraoch
    </li>
  </ul> -->
</div>
<!-- # means identifier -->
<ng-template #courses>
  <ul>
    <li *ngFor="let movie of movies">{{ movie }} angular 4 appraoch</li>
  </ul>
</ng-template>
<ng-template #noCourses>
  <p>No movies found (angular 4 appraoch)</p>
</ng-template>

<!-- another way to show/hide html content -->
<!-- hidden proprty -->
<!-- bind hidden proprty with expression -->
<div [hidden]="movies.length == 0">movies list (Hidden appraoch)</div>
<div [hidden]="movies.length > 0">No movies</div>

<!-- ngSwitch -->
<!-- [ngSwitch]  this property add by angular in DOM element and bind with data property-->
<ul class="nav nav-pills">
  <li class="nav-item">
    <a [class.active]="viewMode == 'map'" (click)="viewMode = 'map'"
      >Map View</a
    >
  </li>
  <li class="nav-item">
    <a [class.active]="viewMode == 'list'" (click)="viewMode = 'list'"
      >List View</a
    >
  </li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View</div>
  <div *ngSwitchCase="'list'">List View</div>
  <div *ngSwitchDefault>switch default render</div>
</div>

<!-- ngFor EXAMPLE -->

<!-- ngFor direct export many other varaibles like index, even (even record), 0dd (odd record), first (first record), last (last record) -->
<ul>
  <li
    *ngFor="let course of coursesObj; index as i; even as isEven; odd as isOdd"
  >
    {{ i }} - {{ course.name }} {{ isEven }} {{ isOdd }}
  </li>
</ul>

<!-- TWO WAY DATA BINDING ANGULAR 4 -->
<!-- <input  [value]="email" (keyup.enter) = "email = $event.target.value; onKeyUp()" /> -->
<input [(ngModel)]="email" (keyup.enter)="onKeyUp()" />

<!-- Template driven forms in Angular -->
<contact-form></contact-form>
<!-- TEMPLATE FORREACTIVE FORMS -->
<reactive-forms></reactive-forms>
<!-- MATERIAL DESIGN -->
<mat-checkbox>Subscribe to news sellerr</mat-checkbox>

<!-- btn -->
<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button>

<button mat-raised-button>Basic</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>

<!--select  -->
<mat-form-field appearance="fill">
  <mat-label>Toppings</mat-label>
  <mat-select [formControl]="toppings" multiple>
    <mat-select-trigger>
      {{ toppings.value ? toppings.value[0] : "" }}
      <span
        *ngIf="toppings.value?.length > 1"
        class="example-additional-selection"
      >
        (+{{ toppings.value.length - 1 }}
        {{ toppings.value?.length === 2 ? "other" : "others" }})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{
      topping
    }}</mat-option>
  </mat-select>
</mat-form-field>

<!-- HTTP SERVICES -->
<app-posts></app-posts>
