<!-- Angular provides FormControl class (actual class) (which has to be instantate) -->

<!-- it provides following fields -->
<!-- 
value,
touched,
untouched,
dirty (form values edited)
pristine (form value does'nt edited)
valid
error (if validation errors, what kind of error)
 -->

<!-- Angular also have 'FormGroup' class of particular form  for  controls (single input field) -->

<!-- it also provides following fields -->
<!-- 
value,
touched,
untouched,
dirty (form values edited)
pristine (form value does'nt edited)
valid  (returns true if all the controls have valid input)
error (all errors of every control)
  -->

<!-- There are 2 ways to create Controls object
    1. Directives (angular implicitly create control object and do works under the hood, good for small forms which needs required
     or range constrains) Also known as 'TEMPLATE DRIVEN FORM'
    2. Code (we instate these control classes and write our logic, we  more control over complex validation) Also known as "model driven form OR Reactive form"
  -->

<!-- #firstName -> means template variable (we can assign value to this template var) -->

<!-- 'ngForm' directive -->
<form #f="ngForm" (ngSubmit)="submit(f)">
  <div class="form-group">
    <label for="firstName"> First Name </label>
    <input
      required
      minlength="2"
      maxlength="8"
      pattern=""
      ngModel
      name="firstName"
      #firstNameVar="ngModel"
      id="firstName"
      type="text"
      class="form-control"
      (change)="logFisrtName(firstNameVar)"
    />
    <div
      class="alert alert-danger"
      *ngIf="firstNameVar.touched && !firstNameVar.valid"
    >
      First Name is required
    </div>
  </div>

  <div class="form-group">
    <label for="comment"> Comment </label>
    <textarea
      ngModel
      name="comment"
      #comment="ngModel"
      id="comment"
      type="text"
      class="form-control"
      cols="30"
      rows="10"
    >
    </textarea>
  </div>
  <label>
    <input type="checkbox" ngModel name="isSubscribed" />
  </label>
  <div class="form-group">
    <label for="contactMethod"></label>
    <!-- use [ngValue] to bind with complex value object (by using this we can get complex value object) -->
    <!-- use 'multiple' attribute to select multiple options -->
    <select
      ngModel
      name="contactMethod"
      id="contactMethod"
      class="form-control"
    >
      <!--   <option [ngValue]="someObject">num1</option> -->
      <option value="1">num1</option>
      <option value="2">num2</option>
      <option value="3">num3</option>
    </select>
  </div>
  <!-- RADIO BTN -->
  <div class="radio">
    <label for=""
      ><input type="radio" ngModel name="Radio" value="1" />Email</label
    >
  </div>
  <div class="radio">
    <label for=""
      ><input type="radio" ngModel name="Radio" value="2" />Password</label
    >
  </div>
  <p>{{ f.value | json }}</p>
  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>
<!-- if you have complex form template with multiple sub group then use 'ngModelGroup' directive, this directive similar
to ngForm but it doesn't emit (output) ngSubmit event. -->
